# Add all of the environmental variables here instead of 
# embedding them directly in the app and utilize them 
# with the `DotEnv` package.

PORT=4000

# Two LogMeal test account is created. As there is rate limtit for each API (25 calls per day), 
# try using another one if calls per day for it reaches the maximum.
LOG_MEAL_BEARER_TOKEN=6a095fe575e32784a8a2d7ebc916dc6d6a71a5b5
#LOG_MEAL_BEARER_TOKEN=c95b08a83d14df62497709bb41d081189190071b

LOG_MEAL_API=https://api.logmeal.com
LOG_LEVEL=info